*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    color: black;
    padding: 50px;
background-image: url("photo_2024-04-20_15-52-15.jpg");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}
.nav{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}
.nv{
    width: 200px;
    height: 130px;
    background-color: #E0B973;
    text-align: center;
    border-bottom-left-radius: 35% ;
    border-bottom-right-radius: 35% ;
}
.nav ul{
    width: 400px;
    height: 50px;
    display: flex;
   list-style: none;
justify-content: space-between;
   margin-left: 600px;
}
.center{
   
    width: 400px;
    margin-top: 200px ;
    
    font-family: Adobe Garamond Pro;
font-size: 24px;
font-weight: 700;
/* line-height: 184.8px; */
letter-spacing: 0.07em;
text-align: left;

}
.bt{
    width: 150px;
    height: 45px;
    background-color: #E0B973;
    border-radius: 10px;
    border: none;
    margin-left: 650px;
}
    .cont{
        width: 50%;
        height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    margin-top: 100px;
    margin-left: 300px;
    padding-left: 30px;
border-left: 2px solid grey;

    }
.conte{
   
        width: 50%;
        height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    
}
.cont h1{
    margin-top: -70px;
    position: absolute;
}
.p{
    margin-left: 600px;
    margin-top: 60px;
}
.container1{
    display: flex;
   align-items: left;
   justify-content: space-between;
   flex-direction: column;
}
.container2{
    display: flex;
   align-items: right;
   justify-content: space-between;
   flex-direction: column;
}
.btn{
    width: 130px;
    height: 40px;
    background-color: #E0B973;
    border: none;
    border-radius: 10px;
    margin-top: 90px;
    position: absolute;
}
.btnn{
    width: 130px;
    height: 40px;
    background-color: #E0B973;
    border: none;
    border-radius: 10px;
    margin-top: 120px;
    margin-left: 250px;
    position: absolute;
}
.section{
    width: 50%;
    height: 250px;
display: flex;
align-items: center;
justify-content: space-between;
margin-top: 100px;
margin-left: 300px;
padding-left: 30px;
border-left: 2px solid grey;

}

.cen{
    width: 500px;
    height: 200px;
    display: flex;
align-items: center;
justify-content:center;
flex-direction: column;
gap: 30px;
letter-spacing: 0.07em;
margin-left: 500px;
margin-top: 100px;

}
.footer{
    width: 100%;
    height: 200px;
    background-color: #14274A ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    color: white;
}
.nm{
    width: 300px;
    height: 200px;
    color: white;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
}
ul{
    list-style: none;

}

.ul{
    flex-direction: column;
}
.iki input{
    height:40px;
border: 2px solid #E0B973;
background-color: transparent;
border-radius: 4px;
margin-top: 30px;
text-indent: 12px;
color: white;
}
.iki button{
    width: 50px;
    height: 43px;
    background-color: #E0B973;
    border: none;
    border-radius: 5px;

}
.iki p{
    margin-top: -20px;
    position: absolute;
}